<?xml version="1.0"?>
    <config>
        <modules>
           <Hips_Hips>
              <version>0.1.0</version>
           </Hips_Hips>
        </modules>
        <frontend>
            <secure_url>
                <hips_checkout>/hips/onepage</hips_checkout>
            </secure_url>
            <routers>
                <hips>
                    <use>standard</use>
                    <args>
                        <module>Hips_Hips</module>
                        <frontName>hips</frontName>
                    </args>
                </hips>
            </routers>
            <layout>
                <updates>
                    <hips>
                        <file>hips.xml</file>
                    </hips>
                </updates>
            </layout>
        </frontend>
           <default>
            <payment>
                <fullpay>
                    <active>0</active>
                    <model>hips/fullpay</model>
                    <private_key></private_key>
                    <public_key></public_key>
                    <title>Hips Checkout</title>
                    <hips_style></hips_style>
                </fullpay>
                <cardpay>
                    <active>1</active>
                    <model>hips/cardpay</model>
                    <name>Hips</name>
                    <title>Hips Card Pay</title>
                    <order_status>processing</order_status>
                    <message>Please enter your credit card information</message>
                </cardpay>
             </payment>
            <carriers>
				  <hips_shipping>
					<active>1</active>
					<sallowspecific>0</sallowspecific>
					<model>hips/carrier</model>
					<name>Hips Shipping</name>
					<title>Hips Shipping</title>
					<price>0.00</price>
			        <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
			     </hips_shipping>
            </carriers>
        </default>
        <global>
            <blocks>
                <hips>
                    <class>Hips_Hips_Block</class>
                </hips>
                <checkout>
                    <rewrite>
                        <onepage_link>Hips_Hips_Block_Onepage_Link</onepage_link>
                    </rewrite>
                </checkout>
            </blocks>
            <models>
                <hips>
                    <class>Hips_Hips_Model</class>
                </hips>
            </models>
            <helpers>
                <hips>
                    <class>Hips_Hips_Helper</class>
                </hips>
                <checkout>
                    <rewrite>
                        <url>Hips_Hips_Helper_Url</url>
                    </rewrite>
                </checkout>
            </helpers>
            <resources>
                <hips_setup>
                    <setup>
                        <module>Hips_Hips</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </hips_setup>
                <hips_write>
                    <connection>
                      <use>core_write</use>
                    </connection>
                </hips_write>
                <hips_read>
                   <connection>
                    <use>core_read</use>
                  </connection>
                </hips_read>
            </resources>
        </global>
    </config>
